[Unit]
Description=FranceTVInfo Alerts Discord

[Service]
Type=simple
ExecStart=/usr/local/go/bin/go run main.go
WorkingDirectory=/srv/FranceTVInfo-Alerts-Discord/

Environment=DISCORD_CHANNEL_ID=123456789
Environment=DISCORD_BOT_AUTHORIZATION=xxxx.yyyy.zzzz
LimitNOFILE=infinity
LimitCORE=infinity

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=10

User=root
Group=root

[Install]
WantedBy=multi-user.target